.card {
  background-color: #fff;
  padding: 5px;
}

.card_title {
  color: "#282828";
  font-weight: 14px;
}
.card__description {
  color: "#282828";
  font-weight: 12px;
}

.card img {
  width: 182px;
  height: 288px;
  object-fit: cover;
  margin-bottom: 5px;
}
